<br />
<pre class="copyright">
版权声明:
转载时请注明作者<b><a href="<%= config.url %>" target="_blank" title="<%= config.author %>"><%= config.author %></a></b>以及本文地址：
<b><a href="<%- config.url %>/<%- item.path %>" target="_blank" title="<%= item.title %>"><%- config.url %>/<%- item.path %></a></b>
</pre>

<style>
.copyright * {
  box-sizing: border-box;
}
</style>